framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    auto_setup: true
                retry_strategy:
                    max_retries: 3
                    multiplier: 2
            scheduler_compliments:
                dsn: 'doctrine://default?queue_name=scheduler_compliments'
                options:
                    auto_setup: true
            failed: 'doctrine://default?queue_name=failed'

        routing:
            'App\Message\SendScheduledCompliment': scheduler_compliments
            'Symfony\Component\Scheduler\RecurringMessage': scheduler_compliments
